/*Primary */

$colorOrange: hsl(25, 97%, 53%);

/*Neutral*/

$colorWhite: hsl(0, 0%, 100%);
$colorLightGrey: hsl(217, 12%, 63%);
$colorMediumGrey: hsl(216, 12%, 54%);
$colorDarkBlue: hsl(213, 19%, 18%);
$colorVeryDarkBlue: hsl(216, 12%, 8%);